*{
  margin: 0;
  padding: 0;
}

body{
  /* background-color: #3DB4DB; */
  background-color: #DB3D3D !important;
  color: #fff !important;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
}
/*

.container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.image-container {
  background-color: #3DB4DB;
  flex: 1;
  display: flex;
  width: 80vw;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: aliceblue;
  flex: 2;
  height: 92%; 
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%; /* Adicione um espaço em branco em cima do form-container */


#logosenai {
  width: 90%;
} 

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40%;
  margin-left: 2%;
  margin-right: 10%;
}

.form-container {
  margin-top: 3%;
  margin-left: 8%;
  background: beige;
  backdrop-filter: blur(500px);
  box-shadow: 30px 40px 80px rgba(0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%  ;
  border-radius: 20px;
}

.form-container h1 {
  font-family: 'Roboto Condensed, sans-serif';
  font-weight:'bold';
  display: flex;
  color: black;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.form-container p {
  font-family: 'Roboto Condensed, sans-serif';
  font-weight:'bold';
  display: flex;
  color: black;
  font-size: 1rem;
  width: 80%;
  margin-bottom: 2rem;
}

.form-container input[type="email"],
.form-container input[type="password"] {
  color: beige;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 3rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 60%;
}

.form-container button[type="submit"] {
  color: white;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

.form-container button[type="reset"] {
  color: white;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.8s ease;
  margin-right: 40px;
}

.form-container button[type="submit"]:hover {
  background-color: green;
}

.form-container button[type='reset']:hover {
  background-color: #DB3D3D; 
}

label {
  color: black;
}


#IDEVs {
  width: 50%;
}

.carouselhome {
  display: flex;
  justify-content: center;
}

.containerhome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: aliceblue;
  height: 80vh !important; 
  width: 98.9vw !important;
}

.containerhomefull {
  background-color: aliceblue;
}

#home-entrar{
  display: flex;
  justify-content: end;
}

#home-f5 {
  display: flex;
  justify-content: center;
}

#classroom {
  margin-top: 0.8%;
  margin-left: 1.5%;
  border-radius: 0.5;
}

#iconclassroom { 
  border-radius: 8% !important ;
  margin-right: 12px !important; 
  height: 28px !important ;
  width: 35px !important;
  
}

#visualizarturma {
  margin-top: 3vh;
  width: 12%;
}

#header{
  background-color: #DB3D3D;
  padding: 0.3vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#iconrodape {
  margin: 4px;
  height: 30px;
  width: 30px;
  border-radius: 40px;
}

.rodape{
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.redessociais{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#letrasrodape{
  color: aliceblue;
}

/* PÁGINA DE ALUNOS IDEV2 */

.fundoalunos{
  background-color: #fff;
  color: black;
  width: 98.8vw;
}

.tituloidev2 {
  display: flex;
  justify-content: center;
}

.linhas {
  display: flex;
  justify-content: space-around;
}

.cartaoaluno {
  display: flex; 
  justify-content: center;
  align-items: center ;
  flex-direction: column;
  background-color: #DB3D3D;
  width: 280px;
  height: 330px;
  margin: 1%;
  border-radius:10px;
}

#ver-aluno {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 50%;
  
}

#fotoaluno {
  width: 70%;
  height: 55%;
}

.informacoes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 5px;
  margin: 0.8vh;
  width: 70%;
  height: 30px;
  padding: 8px;
  border: solid 3px;
  border-color: rgb(0, 0, 0);
  
}

.letras {
  margin-top: 20px;
}

.tituloIDEV2{
  font-family: 'Poppins', sans-serif;
  font-weight:'bold';
  letter-spacing: 0.1em; 
  margin: 10px;
}


